body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 600px; /* Increase the width */
    height: 600px; /* Increase the height */
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Added padding to center the buttons */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}


#display {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right; /* Align text to the right */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 80%; /* Make the grid take up the entire width */
    padding: 10px; /* Added padding for spacing */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9448f8;
}
